@import 'variables';
@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'flatly';
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 2rem;
}
a.logo {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  img {
    width: 350px;
  }
  span {
    font-size: 54px;
    vertical-align: bottom;
    position: relative;
    bottom: -10px;
  }
  &:hover {
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5, h6 {
  &:first-child { margin-top: 0; }
}
#menu-menu-1 {
  @extend .nav-pills;
}
@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}
